
p {
    color: rgb(0, 128, 6);
}

p ~ p {
    background-color: darkorange;
    color: rgb(255, 255, 255);
}



h1, h3 {
    background-color: rgb(255, 255, 0);
    text-align: center;
}

h3 ~ h3 {
    background-color: deeppink;
}

h1 + h3 {
    color: rgb(255, 0, 221);
}